<h1 class="bg-orange-400">StaticPages#view</h1>

<script>
    function showPosition(position) {
        var lat = position.coords.latitude;
        var lng = position.coords.longitude;
        //緯度経度の取得

        var geocoder = new google.maps.Geocoder;
        var latlng = {lat: parseFloat(lat), lng: parseFloat(lng)};
        //緯度経度の値をオブジェクトに格納

        geocoder.geocode({'location': latlng}, function(results, status) {
            if (status === 'OK' && results[0]) {
                var fullAddress = results[0].formatted_address;
                console.log(fullAddress);
                //住所が存在した場合完全な住所情報を取得

                var address = fullAddress.replace(/日本、〒\d{3}-\d{4} /, '');
                console.log(address);
                // 住所から国名と郵便番号を削除
            }    
        });
    }
</script>
