<% if object.errors.any? %>
    <div id="error_explanation" class="alert bg-white mb-4">
        <ul class="mb-0 text-lg text-rose-400 ">
        <% object.errors.each do |error| %>
            <li><%= error.full_message %></li>
        <% end %>
        </ul>
    </div>
<% end %>