<footer class="border-gray-200 px-4 lg:px-6 py-2.5 bg-blue-300 dark:bg-gray-700 text-gray-800 dark:text-white">
  <div class="flex justify-start items-center">
    <nav class="flex space-x-4">
      <%= link_to "お問い合わせ", 'https://forms.gle/jenqvLbAnjxfaY9q9', class: "hover:bg-base-100 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 focus:outline-none" %>
      <%= link_to "プライバシーポリシー", "#", class: "hover:bg-base-100 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 focus:outline-none" %>
      <%= link_to "利用規約", "terms_of_service", class: "hover:bg-base-100 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 focus:outline-none" %>
    </nav>
  </div>
  <aside class="text-sm text-center mt-4">
    <p>Copyright © 2024.こどもとどこいく？</p>
  </aside>
</footer>
