<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
  <p class="text-center text-xl md:text-3xl lg:text-3xl xl:text-3xl font-bold text-lime-500 mt-4">お気に入りの場所</p>

  <%= render 'search_form', url: place_favorites_path, activity_type_options: @activity_type_options %>

  <% if @places.present? && @places.any? %>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-12">
      <% @places.each do |place| %>
        <%= render 'place_card', place: place %>
      <% end %>
    </div>
    <%= render 'shared/pagination', collection: @places %>
  <% else %>
    <p class="text-center text-xl md:text-2xl lg:text-2xl xl:text-2xl font-bold text-sky-800 mt-8">お気に入りの場所はありません</p>
  <% end %>
</div>