<p><%= @resource.email %>さん、こんにちは！</p>

<p>パスワードを変更するためのリンクをリクエストしました。以下のリンクをクリックして、パスワードを変更してください。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このリクエストに覚えがない場合は、このメールを無視してください。</p>
<p>リンクにアクセスして新しいパスワードを作成するまで、パスワードは変更されません。</p>
