<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
  <p class="text-center text-xl md:text-3xl lg:text-3xl xl:text-3xl font-bold text-lime-500 mt-4">過去の検索結果</p>
  <p class="text-center text-sm md:text-base lg:text-base xl:text-base font-bold text-sky-800 mt-6">検索の際に選択した所要時間より大幅に</p>
  <p class="text-center text-sm md:text-base lg:text-base xl:text-base font-bold text-sky-800 mt-2">時間がかかる場所は除いて表示しています</p>
  <p class="text-center text-sm md:text-base lg:text-base xl:text-base font-bold text-sky-800 mt-2">このページでは検索で除かれた場所も表示されます</p>

  <%= render 'search_form', url: places_path, activity_type_options: @activity_type_options %>

  <% if @places.any? %>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-12">
      <% @places.each do |place| %>
        <%= render 'place_card', place: place %>
      <% end %>
    </div>
    <%= render 'shared/pagination', collection: @places %>
  <% else %>
    <p class="text-center text-xl md:text-2xl lg:text-2xl xl:text-2xl font-bold text-sky-800 mt-8">履歴はありません</p>
  <% end %>
</div>

<%= render 'shared/form_submission' %>
